@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap');

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section {
    min-height: 200vh;
    padding: 4em;
}

h1 {
    color: white;
    font-size: 3em;
    animation: anim3 2s ease-in;
}

h1 span {
    display: block;
    font-size: 1.7em;
    color: rgb(125, 113, 238);
    transform: rotate(10deg);
    text-align: center;
    opacity: 0;
    animation: anim2 1s linear forwards .3s;
}

h2 {
    margin: 0;
    text-align: right;
    color: white;
    font-size: 3em;
    position: sticky;
    top: 0;
    text-shadow: #141122 3px 3px 3px;
    z-index: 100;
}

.introduction {
    display: grid;
    min-height: 100vh;
    background: linear-gradient(#141122, #231c42, #67088d);
    place-items: center;
    padding: 0;
}

.information {
    min-height: 100vh;
    color: white;
    background: #67088d;
}

.information ul li {
    margin-top: 1em;
}

.information ul li::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 3px;
    transform: translateY(-5px);
    background: white;
}

.information div {
    max-width: 800px;
    margin: auto;
}

.information h2 {
    position: static;
    text-align: left;
}

.information p {
    line-height: 1.5em;
}

/* MONUMENTEN */

/* HOMO MONUMENT */
.homo-monument {
    background: linear-gradient(#67088d, #002D08);
}

.homo-illustratie {
    position: relative;
    width: 50vw;
    height: 50vh;
    margin: 2em auto;
}

:root {
    --car-width: 180px
}

.homo-illustratie img {
    z-index: 1000;
    max-width: var(--car-width);
    position: absolute;
}



.homo-illustratie img:nth-of-type(1):hover+div {
    opacity: 1;
}

.homo-illustratie img:nth-of-type(2):hover+div {
    opacity: 1;
}

.homo-illustratie img:nth-of-type(3):hover+.info-block {
    opacity: 1;
}

.homo-illustratie img:nth-of-type(1) {
    top: 0;
    left: 20%;

}

.homo-illustratie img:nth-of-type(2) {
    top: 0;
    right: 20%;
}

.homo-illustratie img:nth-of-type(3) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.info-block {
    position: absolute;
    transform: translate(-50%, 50%);

    opacity: 0;
}

.info-block p {
    max-width: 400px;
}

/* 
.info-block:nth-of-type(1) {
    top: 0;
    left: 70%;
    transform: translateX(-50%);
}

.info-block:nth-of-type(2) {
    bottom: 0;
    left: 20%;
    transform: translateX(var(--car-width));
}

.info-block:nth-of-type(3) {
    bottom: 0;
    right: 20%;
    transform: translateX(- var(--car-width));
} */



.oorlog-monument {
    background: linear-gradient(#002D08, #766548);
}

.slavernij-monument {
    background: linear-gradient(#766548, #fff);
}

.datavis {
    display: block;
    margin: 4em auto;
    width: 30%;
    min-width: 300px;
}

.monument-informatie {
    color: white;
    max-width: 800px;
    margin: 10em auto;

}

.monument-informatie h3 {
    font-size: 2em;

}

.monument-informatie p {
    font-size: 1.2em;
    line-height: 1.5em;
}

/* animation */
.animate {
    opacity: 0;
}

@keyframes anim1 {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes anim2 {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes anim3 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ROAD */

.road-container {
    position: fixed;
    z-index: 200;
    bottom: 0;
    width: 100vw;
    left: 0;
    height: 75px;
    background-image: url('images/ezgif.com-gif-maker.jpg');
    background-repeat: repeat-x;
    box-shadow: 3px -9px 44px 1px rgba(0, 0, 0, 0.75);
}

:root {
    --car-left: 0;
}

.car {
    background-image: url('images/car-new.png');
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    left: var(--car-left);
    transform: scaleX(-1);
    bottom: 25px;
    z-index: 1000;
    width: 100px;
    height: 50px;
    box-shadow: 14px 24px 44px -17px rgba(0, 0, 0, 0.75);
}

.years {
    list-style-type: none;
}

.years li {
    position: absolute;
    bottom: 80px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.2em;

}

.years li:nth-of-type(1) {
    left: 5%;
}

.years li:nth-of-type(2) {
    left: 45%;
}

.years li:nth-of-type(3) {
    left: 80%;
}

@media screen and (max-width: 800px) {
    .introduction h1 {
        font-size: 1.8em
    }
}

@media screen and (max-width: 550px) {
    section {
        padding: 1em;
    }

    h2 {
        font-size: 1.8em;
    }

    .introduction h1 {
        font-size: 1.3em;
        margin: 0 auto;
    }
}