@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap');

@font-face {
    font-family: 'ddchardware';
    src: url('./font/DDCHardware-Regular.otf') format('opentype')
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section {
    padding: 4em;
}

h1 {
    font-family: 'ddchardware', 'sans-serif';
    color: white;
    font-size: 3em;
    animation: anim3 2s ease-in;
    text-align: center;
}

h1 span {
    display: block;
    font-size: 1.7em;
    color: #EDB740;
    text-align: center;
    opacity: 0;
    animation: anim2 1s linear forwards .3s;
}

h2 {
    font-family: 'ddchardware', 'sans-serif';
    margin: 0;
    text-align: center;
    color: white;
    font-size: 5em;
    max-width: 800px;
}

h3 {
    font-family: 'ddchardware', 'sans-serif';
}

.flex-titel {
    /* margin: 0em 3em; */
    padding: 0em 40px;
    margin-top: -4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    align-items: center;
    height: 100vh;

}

.landing {
    display: grid;
    min-height: 100vh;
    background: #0C3444;
    place-items: center;
    padding: 0;
}

.introduction {
    background: #0C3444;
    color: white;
    min-height: 100vh;
}

.introduction div {
    max-width: 800px;
    margin: auto;
}

.introduction h2 {
    text-align: center;
    font-size: 2.3em;
}

.introduction h2 span {
    color: #EDB740;
}

.introduction p {
    line-height: 1.5em;
    font-size: 1.3em;
}

.introduction>h2 {
    margin: 7em auto 0em auto;
    max-width: 800px;
}

.introduction>section {
    min-height: auto;
    padding: 0em
}


.introduction section {
    width: 60vw;
    margin: auto;
}

.introduction>section p {
    margin: 3em;
    text-align: center;
}

.introduction img {
    margin: auto;
    display: block;
    width: 100%;
}

.introduction section:last-of-type img {
    margin-bottom: 40vh;
}

.information {
    min-height: 100vh;
    color: white;
    background: #0C3444;
}

.information ul li {
    margin-top: 1em;
}

.information ul li::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 3px;
    transform: translateY(-5px);
    background: white;
}

.information div {
    max-width: 800px;
    margin: auto;
}

.information h2 {
    position: static;
    text-align: left;
}

.information p {
    line-height: 1.5em;
}

/* MONUMENTEN */

/* PIE CHARTS */
.pie-charts {
    margin-bottom: 20vh;
}

.pie-charts h2 {
    margin: auto;
    font-size: 2em;

    margin: 40vh auto 2em auto;

}

.pie-charts div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'ddchardware';
}

body main .pie-charts h3 {
    text-align: center;
    margin-bottom: 1em;
    color: white;
}

.pie-charts img {

    width: 100%;
    display: block;
    margin: auto;
}

.pie-charts p:first-of-type {
    color: white;
    position: absolute;
    color: white;
    font-size: 1.3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;

}

.oorlog-monument .pie-charts h3,
.oorlog-monument .pie-charts p {
    color: #052934;
}

.slavernij-monument .pie-charts h3 {
    color: #EDB740;
}

/* HOMO MONUMENT */
.illustratie {
    margin: 7em auto;
}

.info-heading {
    font-size: 2em;
}

.homo-monument {
    background: #9DC9B2;
    color: white;
}

.homo-monument h3 {
    max-width: 800px;
    margin: auto;
}

.homo-illustratie {
    position: relative;
    width: 1000px;
    height: 600px;
}

.homo-uitleg {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 280px;
}

:root {
    --car-width: 280px
}

.homo-illustratie img {
    z-index: 10;
    max-width: var(--car-width);
    position: absolute;
    cursor: pointer;

}

.homo-illustratie>img:hover {
    transform: scale(1.2);
}

.homo-illustratie img:nth-of-type(3):hover {
    transform: translateX(-50%) scale(1.2);
}

.homo-illustratie img:hover+div {
    opacity: 1;
}

.homo-illustratie img:nth-of-type(1) {
    top: 0;
    left: 15%;

}

.homo-illustratie img:nth-of-type(2) {
    top: 0;
    right: 15%;
}

.homo-illustratie img:nth-of-type(3) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.info-block {
    position: absolute;
    top: 30%;
    transform: translate(-50%, 0);
    font-size: 1.4em;
    opacity: 0;
}

.info-block:nth-of-type(2) {
    right: 0;
    transform: translateX(50%);
}

.info-block p {
    max-width: 300px;
}

.oorlog-monument {
    background: #EBC557;
}

.oorlog-illustratie {
    display: block;
    height: 60vh;
    margin: 7em auto;
}

.slavernij-monument {
    background: #473D2B;
}

.slavernij-illustratie {
    color: white;
    height: 50vh;
    width: 40vw;
    /* height: 70vh; */
    margin: 7em auto;
    position: relative;
}

.slavernij-illustratie img {
    position: absolute;
    height: 100%;
    cursor: pointer;
}

.slavernij-illustratie img:nth-of-type(1) {
    left: 0;
}

.slavernij-illustratie img:nth-of-type(2) {
    left: 50%;
    transform: translateX(-50%);
}

.slavernij-illustratie img:nth-of-type(3) {
    right: 0;
}

.slavernij-illustratie img:hover+div {
    opacity: 1;
}

.info-block2 {
    max-width: 300px;
    opacity: 0;
    position: absolute;
    top: 30%;
    transform: translateX(-120%);
}

.info-block2 h4 {
    margin: 0;
}

.info-block2:nth-of-type(1) {
    top: 10%;
}

.info-block2:nth-of-type(2) {
    top: 30%;

}

.info-block2:nth-of-type(3) {
    top: 50%;
    right: 0;
    transform: translateX(120%);
}

.datavis {
    display: block;
    margin: 4em auto;
    width: 30%;
    min-width: 300px;
}

.monument-informatie {
    color: white;
    max-width: 800px;
    margin: auto;
}

.monument-informatie ul li {
    margin-top: 5px;
}

.monument-informatie ul li:before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 3px;
    transform: translateY(-5px);
    background: white;
}


.monument-informatie p {
    font-size: 1.2em;
    line-height: 1.5em;
}

/* animation */
.animate {
    opacity: 0;
}

@keyframes anim1 {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes anim2 {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes anim3 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ROAD */

.road-container {
    position: fixed;
    z-index: 200;
    bottom: 0;
    width: 100vw;
    left: 0;
    height: 75px;
    background-image: url('images/ezgif.com-gif-maker.jpg');
    background-repeat: repeat-x;
    box-shadow: 3px -9px 44px 1px rgba(0, 0, 0, 0.75);
}

:root {
    --car-left: -100%;
}

.car {
    background-image: url('images/car-new.png');
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    left: var(--car-left);
    transform: scaleX(-1);
    bottom: 25px;
    z-index: 1000;
    width: 100px;
    height: 50px;
}

.years {
    list-style-type: none;
}

.years li {
    position: absolute;
    bottom: 80px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.2em;

}

.years li:nth-of-type(1) {
    left: 5%;
}

.years li:nth-of-type(2) {
    left: 45%;
}

.years li:nth-of-type(3) {
    left: 80%;
}

@media screen and (max-width: 800px) {
    .landing h1 {
        font-size: 1.8em
    }
}

@media screen and (max-width: 550px) {
    section {
        padding: 1em;
    }

    h2 {
        font-size: 1.8em;
    }

    .landing h1 {
        font-size: 1.3em;
        margin: 0 auto;
    }
}